header{
    padding-top: 30px;
}

header h1{
    color: rgb(233, 107, 201);
    font-size: 300%;
    padding: 10px;
}

nav{
    text-align: center;
    margin: 150px 0px 10px 0px;
}
.menu-btn{
    margin: 10px 4px 10px 4px;
    padding: 3.5% 5.5% 3.5% 5.5%;
    text-decoration: none;
    font-size: 130%;
    border-radius: 25px;
}


.name{
    margin: 0;
    margin-left: 40px;
}

.blue{
    background-color: rgb(155, 255, 255);
}

.blue:hover{
    background-color: rgb(1, 87, 87);
}

.red{
    background-color: rgb(255, 106, 106);
}
.red:hover{
    background-color: rgb(167, 3, 3);
}
.pink{
    background-color: rgb(255, 147, 228);
}
.pink:hover{
    background-color: rgb(148, 0, 111);
}
.yellow{
    background-color: rgb(255, 210, 62);
}
.yellow:hover{
    background-color: rgb(128, 98, 2);
}


