{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
  <a href="/" class="menu-btn blue" id="activeblue">HEM</a>
  <a href="/sorter" class="menu-btn red">SORTER</a>  
  <a href="/erbjudanden" class="menu-btn pink"> ERBJUDANDEN</a>
  <a href="/omoss" class="menu-btn green">OM OSS</a> 
  <a href="/kontakt" class="menu-btn yellow">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<main id="wrapper_start">
    <div class="grid-start">
      <div class="slide">
        <img src="{{ url_for('static', filename='bild1.jpg') }}" class="slideshow-img">
        <img src="{{ url_for('static', filename='bild2.jpg') }}" class="slideshow-img">
        <img src="{{ url_for('static', filename='bild1.jpg') }}" class="slideshow-img">
      </div>

      <div class="månads-tema">
        <img src="{{ url_for('static', filename='pinkk.jpg') }}" class="tema" >
      </div>

      <div class="reklam">
        <img src="{{ url_for('static', filename='chocklad.jpg') }}" class="reklam-bild" >
      </div>

    </div>
  </main>

  {% endblock content %}
