#wrapper_sorter{
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 210px;

}

.container {
    margin: auto;
    position: static;
    text-align: center;
  }
  .centeredtext{
      z-index: 0;
    position: absolute;
    padding-left: 255px;
  }
  .centered1, .centered2, .centered3, .centered4{
      top: 47%;
      transform: translate(-50%, -50%);
  }
  .centered5, .centered6, .centered7, .centered8{
      top: 78%;
      transform: translate(-50%, -50%);
  }


  .sorterbilder{
    width: 270px;
    height: 210px;
    border-radius: 40px;
}

.container a{
    text-decoration: none;
    font-size: 280%;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    letter-spacing: 1.4px;
}



@media screen and (max-width: 1180px) {
    .sorterbilder{
        width: 310px;
        height: 230px;
        padding: 2px;
        border-radius: 40px;
    }
    .centered1, .centered2, .centered3{
        top: 49%;
        transform: translate(-45%, -45%);
    }
    .centered4, .centered5, .centered6 {
        top: 85%;
        transform: translate(-45%, -45%);
    }
    .centered7, .centered8{
        top: 120%;
        transform: translate(-45%, -45%);

    }
}

@media screen and (max-width: 941px) {
    .centered1, .centered2{
        top: 49%;
        transform: translate(-45%, -45%);
    }
    .centered3, .centered4 {
        top: 85%;
        transform: translate(-45%, -45%);
    }

    .centered5, .centered6{
        top: 120%;
        transform: translate(-45%, -45%);
    }
    .centered7, .centered8{
        top: 157%;
        transform: translate(-45%, -45%);

    }
}

@media screen and (max-width: 700px) {
    .sorterbilder{
        width: 430px;
        height: 380px;
        padding: 2px;
        border-radius: 40px;
    }
    .container a{
        text-decoration: none;
        font-size: 300%;
    }
    .centered1{
        top: 59%;
        transform: translate(-24%, -50%);
    }

    .centered2{
        top: 119%;
        transform: translate(-24%, -50%);
    }
    .centered3 {
        top: 175%;
        transform: translate(-28%, -50%);
    }

    .centered4{
        top: 235%;
        transform: translate(-25%, -50%);
    }

    .centered5{
        top: 292%;
        transform: translate(-29%, -50%);
    }

    .centered6{
        top: 355%;
        transform: translate(-25%, -50%);
    }
    .centered7{
        top: 411%;
        transform: translate(-26%, -50%);

    }

    .centered8{
        top: 469%;
        transform: translate(-26%, -50%);
    }
}
