body{ 
    margin: auto;
}

article{
    display: inline;
    height: 120px;
    width: 120px;
    border: 1px solid #000000;
}

footer{
    width: 100%;
    text-align: center;
}

main {
    box-sizing: border-box;
    padding: 6%;
    width: 100%;
    background-color: rgb(106, 248, 224);
    text-align: center;
    /* margin-top: 180px; */
    padding-top: 270px;
    display: flex;
}

article{
    width: 200px;
}

.fixed{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.block{
    display: block;
}

.left{
    float: left;
}

.searchForm{
    text-align: center;
    margin-top: 25px;
    float: right;
    margin-right: 20px;
}

#searchBar{
    padding: 0px;
    padding-left: 7px;
    border: 1px solid #000000;
    font-size: 16px;
    outline: none;
    margin: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'ProximaNova-Regular',Tahoma,sans-serif;
    height: 30px;
}

#searchBtn{
    padding: 0px;
    border: 1px solid #000000;
    border-left: 0px;
    font-size: 16px;
    background: #f05ef0;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 32px;
    width: 40px;
    padding-top: 1px;
}

#searchBtn:hover{
    background: #f09191;
}

@media screen and (max-width: 1152px) {
    .fixed {
        position: absolute;
        width: 100%;
    }
}