body{
    margin: auto;
}

header{
    padding-top: 30px;
}

header h1{
    color: rgb(233, 107, 201);
}

.block{
    display: block;
}

.name{
    margin: 0;
    margin-left: 40px;
}

.left{
    float: left;
}

.searchForm{
    text-align: center;
    padding-top: 35px;
}

#searchBar{
    padding: 0px;
    padding-left: 7px;
    border: 1px solid #000000;
    font-size: 16px;
    outline: none;
    margin: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'ProximaNova-Regular',Tahoma,sans-serif;
    height: 30px;
}

#searchBtn{
    padding: 0px;
    border: 1px solid #000000;
    border-left: 0px;
    font-size: 16px;
    background: #f05ef0;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 32px;
    width: 40px;
    padding-top: 1px;
}

#searchBtn:hover{
    background: #f09191;
}
