
.grid-start {
    display: grid;
    margin: auto;
}

.slide {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
}

.månads-tema {
    grid-column:  3 / span 1;
    grid-row: 1 / span 2;
}

.reklam { 
    grid-column: 1 / span 3;
    grid-row: 4;
}

@media screen and (max-width: 1050px) {
    .slide {
        padding-top: 80px;
        grid-column: 1 / span 3;
        grid-row: 1 ;
        width: 90%;
    }
    
    .månads-tema {
        grid-column:  1 / span 3;
        grid-row: 2;
    }
    
    .reklam {
        grid-column: 1 / span 3;
        grid-row: 3;
    }
}
