.aboutus-container{
    background-color: white;
    width: 80%;
    text-align: -webkit-left;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.1%;
    padding-top: 0.1%;
    margin: auto auto 1% auto;
}

.aboutus{

}