.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin:0 auto;
    margin-top: 50px;
}
.product-header{
    width:100%;
    max-width:650px;
    display:flex;
    justify-content: flex-start;
    margin: 0 auto;
    border-bottom: 4px solid lightgrey;
}
.products #close-button{
    width:20%;
    height:10%;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    }

.product-title{
    display: flex;
    width: 45%;
}
#itemName{
    margin-top: auto;
    margin-bottom: auto;
}

.price{
    width: 10%;
}

.quantity{
width: 25%;
}

.total{
    width: 15%;
}

.buy-button{
    margin-top:20px;
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px 10px 5px 10px;
}

.products{
    display:flex;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
}

.products #product-image{
    width:15%;
}

.basketTotalContainer{
    display:flex;
    width:50%;
    margin-top: 10px;
}

.basketTotalTitle{
    padding-right: 5px;
}