.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin:0 auto;
    margin-top: 50px;
}
.product-header{
    width:100%;
    max-width:650px;
    display:flex;
    justify-content: flex-start;
    margin: 0 auto;
    border-bottom: 4px solid lightgrey;
}
.products #close-button{
    width:20%;
    height:10%;
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    }

.product-title{
    display: flex;
    width: 45%;
}
#itemName{
    margin-top: auto;
    margin-bottom: auto;
}

.price{
    width: 10%;
}

.quantity{
width: 25%;
}

.total{
    width: 15%;
}

.buy-button{
    margin-top:20px;
    background: #ad8481;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    border: 2px solid #e8ada9;
    margin-left: 1px;
    font-family: Montserrat,sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
}

.products{
    display:flex;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
}

.products #product-image{
    width:15%;
}

.basketTotalContainer{
    display:flex;
    width:50%;
    margin-top: 10px;
}

.basketTotalTitle{
    padding-right: 5px;
}

.Thanks{
    border:1px solid black; 
    width:20%;
    background-color:#ffffff;
    text-align: center;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Refresh-button{
    margin-top: 10px;
    background: #ad8481;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    border: 2px solid #e8ada9;
    margin-left: 1px;
    font-family: Montserrat,sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
}