{% extends "layout.html" %}

{% block nav %} 
<nav class="nav-links">
  <a href="/" class="menu-btn blue" id="activeblue">HEM</a>
  <a href="/produkter" class="menu-btn pink"> PRODUKTER</a>
  <a href="/omoss" class="menu-btn green">OM OSS</a> 
  <a href="/kontakt" class="menu-btn yellow">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<main id="wrapper_start">
    <h1 class="header_start">VÄLKOMMEN TILL WILLY DELIVERY</h1>
    <div class="grid-start">
      <div class="slide">
        <img src="{{ url_for('static', filename='send-love.png') }}" class="slideshow-img">
        <img src="{{ url_for('static', filename='bild2.jpg') }}" class="slideshow-img">
        <img src="{{ url_for('static', filename='bild1.jpg') }}" class="slideshow-img">
      </div>

      <div class="månads-tema">
        <img src="{{ url_for('static', filename='pick-collect.png') }}" class="tema" >
      </div>

      <div class="reklam">
        <img src="{{ url_for('static', filename='rab1.png') }}" class="reklam-bild" >
      </div>

    </div>
  </main>

  {% endblock content %}