{% extends "layout.html" %}

{% block nav %} 
<nav class="nav-links">
  <a href="/" class="btn-home">HEM</a>
  <a href="/produkter" class="btn-products"> PRODUKTER</a>
  <a href="/omoss" class="btn-aboutus">OM OSS</a> 
  <a href="/kontakt" class="btn-contact">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<main id="wrapper_start">
    <div class="grid-start">
      <div class="slide">
        <img src="{{ url_for('static', filename='send-love.png') }}" class="slideshow-img">
        <img src="{{ url_for('static', filename='bild2.jpg') }}" class="slideshow-img">
        <img src="{{ url_for('static', filename='bild1.jpg') }}" class="slideshow-img">
      </div>

      <div class="månads-tema">
        <img src="{{ url_for('static', filename='pick-collect.png') }}" class="tema" >
      </div>

      <div class="reklam">
        <img src="{{ url_for('static', filename='rab1.png') }}" class="reklam-bild" >
      </div>

    </div>
  </main>

  {% endblock content %}