{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
  <a href="/" class="btn-home">HEM</a>
  <a href="/produkter" class="btn-products"> PRODUKTER</a>
  <a href="/omoss" class="btn-aboutus">OM OSS</a> 
  <a href="/kontakt" class="btn-contact">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}


<!DOCTYPE html>
<html>
<html lang="sv">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kontakata oss</title>
<link rel="stylesheet" href="/Users/stephanie/Desktop/WillyDelivery3/kontaktaoss.css" type="text/css">
</head>
<body>
<div class="container">
  <h2>Kontakta oss</h2>
  <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3684.975646418605!2d12.992318576487675!3d55.608648844339406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47a7f31840cee7ad!2sMalm%C3%B6%20universitet%20-%20G%C3%A4ddan!5e0!3m2!1ssv!2sse!4v1586437788179!5m2!1ssv!2sse" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="map"></iframe></div>
  <form action="mailto:contact@willydelivery.se" method="POST" enctype="text/plain" id="contactform">
  <!--Användaren skriver sitt förnamn här-->
  <div class="row100">
    <div class="cool">
      <div class="inputBox">
        <input type="text" name="fornamn" required="required">
        <span class="text"> Förnamn</span>
        <span class="line"></span>
      </div>
    </div>
    <!--Användaren skriver in sitt efternamn här-->
    <div class="cool">
      <div class="inputBox">
        <input type="text" name="efternamn" required="required">
        <span class="text"> Efternamn</span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <!--Användaren ska skriva sin email här-->
  <div class="row100">
    <div class="cool">
      <div class="inputBox">
        <input type="text" name="email" required="required">
        <span class="text"> Email</span>
        <span class="line"></span>
      </div>
    </div>
    <!--Användaren ska kriva sitt mobil nummer här-->
    <div class="cool">
      <div class="inputBox">
        <input type="text" name="mobilnr" required="required">
        <span class="text"> Mobil nr</span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <!--Användaren ska kunna skriva sitt meddelande här-->
  <div class="row100">
    <div class="cool">
      <div class="inputBox textarea">
        <textarea  name="message" required="required"></textarea>
        <span class="text"> Skriv ditt meddelande
          här tack </span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <!--Skicka meddelandet-->
  <div class="row1000">
    <div class="coool">
      <input type="submit" value="Skicka" onsubmit="clearBox()">
    </div>
  </div>
  <div class="Thankscontact" id="Thankscontact" style="visibility:hidden">
    Tack för ditt mail, vi svarar så fort vi kan!
    <button class="Refresh-button" onclick="window.location.href=window.location.href">Stäng</button>
</div>
 </form>
 </main>
</div>             
</body>
</html>
 
 


  {% endblock content %}
