{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
  <a href="/" class="btn-home">HEM</a>
  <a href="/produkter" class="btn-products"> PRODUKTER</a>
  <a href="/omoss" class="btn-aboutus">OM OSS</a> 
  <a href="/kontakt" class="btn-contact">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<div class="aboutus-container">
<div class="aboutus">
    <p>Om Willy Delivery 

      Våren 2020 föddes idén till en fantastisk godis hemsida. Det finns breda valmöjligheter av godis på hemsidan där just DU kan välja dina favorit godsaker och bläddra bland många sorter. Ett annat fokus vi vill lägga tyngd på är ett roligare, smidigare och lockande användargränssnitt. Målgruppen är de människor som gillar godis i alla olika åldrar och inte har tillgång att ta sig  till närmaste godisbutik. Det inkluderar människor med funktionsnedsättning och äldre människor. Det finns ingen specifik åldersgrupp utan gäller för alla åldrar som - älskar godis. 
      <br><br>
      Vi bakom hemsidan är fyra studenter som studerar informationsarkitekts programmet på Malmö Universitet. Vi har implementerat funktioner och samtliga medlemmar kommit med fantastiskt bra förslag och lösningar. Mycket tid har lagts ned på att konstruera både varukorg, sök, filtrerings funktion på bästa möjliga sätt. Målet har varit att bygga en hemsida som har passande färgteman, fungerande funktioner och att vara användarvänlig.</p>
    </div>
  </div>



{% endblock content %}
