{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
  <a href="/" class="menu-btn blue">HEM</a>
  <a href="/produkter" class="menu-btn pink" > PRODUKTER</a>
  <a href="/omoss" class="menu-btn green" id="activegreen">OM OSS</a> 
  <a href="/kontakt" class="menu-btn yellow">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<div class="omoss">
    <p>Hej, vi är 4 studenter som går på informationsarkitekt programmet som har tillsammans skapat Willy Delivery.
    Vårt syfte med denna sidan är att folk ska kunna beställa hem lösviktsgodis.</p>
    </div>



{% endblock content %}
