{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
  <a href="/" class="menu-btn blue">HEM</a> 
  <a href="/produkter" class="menu-btn pink" id="activepink"> PRODUKTER</a>
  <a href="/omoss" class="menu-btn green">OM OSS</a> 
  <a href="/kontakt" class="menu-btn yellow">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<div class="pro produkter-show">
  <form action=# class="filtrering"> 
    <label for="Surt">Sura godis</label>
    <input type="checkbox" name="Surt"> 
    <label for="Karameller">Karameller</label>
    <input type="checkbox" name="Karameller">
    <label for="Choklad">Choklad</label>
    <input type="checkbox" name="Choklad">  
    <label for="Gele">Gele godis</label>
    <input type="checkbox" name="Gele">
    <button type="submit">Filtrera</button>
  </form>  
  {%for row in produkt %}
    <div class="produkt">
      <img width="160" height="160" src="{{row[1]}}"> <!-- row[1] tar ut länk till bild från databasen -->
      <p>{{row[0]}}</p> <!-- row[1] tar ut namnet på produkten -->
      <p>Pris: {{row[2]}}kr/100g</p>  <!-- row[2] tar ut priset på produkten-->
      <button class="shop-button" id="{{row}}" type="button" onclick="add(this.class);">LÄGG TILL</button>
    </div>
  {% endfor %}

</div>



{% endblock %}

