{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
  <a href="/" class="menu-btn blue">HEM</a>
  <a href="/sorter" class="menu-btn red" id="activered">SORTER</a>  
  <a href="/produkter" class="menu-btn pink"> ERBJUDANDEN</a>
  <a href="/omoss" class="menu-btn green">OM OSS</a> 
  <a href="/kontakt" class="menu-btn yellow">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}

<main id="wrapper_sorter">
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild1.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild2.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild3.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild1.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild2.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild3.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild1.jpg') }}">
    </div>
    <div class="container">
      <a href="#"><img class="sorterbilder" src="{{ url_for('static', filename='bild2.jpg') }}"> </a>
    </div>
</main>

{% endblock content %}
