{% extends "layout.html" %}

{% block nav %}
<nav class="nav-links">
    <a href="/" class="menu-btn blue">HEM</a>
    <a href="/produkter" class="menu-btn pink" > PRODUKTER</a>
    <a href="/omoss" class="menu-btn green">OM OSS</a> 
    <a href="/kontakt" class="menu-btn yellow">KONTAKT</a> 
</nav>
{% endblock %}

{% block content %}
<div class="basket-all">
    <div class="basket">
        <h1>Din shoppingbag</h1>
        <div class="varukorg-div varukorg-main">
            <p> Du har inte lagt några produkter i varukorgen </p>
        </div>
    </div>

    <div class="over-view">
        <h2>Beställningsöversikt</h2>
        <p>Produkter </p> 
        <div class="same-row"><span>0</span><p>kr</p></div>
        <p>Frakt </p>     <p>59kr</p>
    </div>

    <button class="buy-button">Godkänn och slutför köp</button>
    <p>Genom att slutföra köpet godkänner du Willys Allmänna villkor och Betalningsvillkor.</p>
</div>



{% endblock content %}
